
<link rel="stylesheet" href="/css/project.css">
<h2 class="project-header">Create Project</h2>
<form action="/project/create" method="POST" class="project-create">
    <input type="text" placeholder="enter name of project"  name="projectname" class="project-input" required/>
    <br>
    <input type="text" placeholder="description of project"  name="projectdescription" class="project-input"required/>
    <br>
    <input type="text" placeholder="author of project"  name="projectauthor" class="project-input" required/>
    <br>
    <button  class="project-input"><a>create project</a></button>
</form>